body {
  font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', 'Marker Felt', 'Purisa', 'URW Chancery L', cursive !important;
}
.wpdm-overlay {
  position: 'fixed';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
